html, body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.progress-tracker {  
    min-height: 100%;
    background-color: #fff;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.word-count {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.sections-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    padding: 0;
    margin: 0;
    width: 100%;
}

.sections-list, .word-count-boxes {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
    margin: 0;
    padding: 0;
}

input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    padding: 20px; 
    border: 2px solid rgb(177, 156, 217);
    border-radius: 5px;
    background-color: rgb(230, 230, 250);
    text-align: center;
}

input[type="checkbox"]:checked + label {
    background-color: rgb(177, 156, 217);
    color: white;
}

.word-box-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.word-box-row label {
    width: 25%;
}
